apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: padel-app

bases:
- ../../base/database
- ../../base/backend
- ../../base/frontend

resources:
- ingress.yaml

commonLabels:
  environment: production
  managed-by: argocd
